{% extends "environment_base.html" %}
{% block environment_base %}
<h3 class="sub-header">环境列表
    <button type="button" class="btn btn-sm btn-primary" style="float: right;"
            onclick="location.href='/add_environment/'">创建
    </button>
</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>名称</th>
            <th>地址</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for environment in environments %}
        <tr>
            <td>{{ environment.id }}</td>
            <td>{{ environment.name }}</td>
            <td>{{ environment.address }}</td>
            <td>{{ environment.create_time | date:"Y-m-d H:i:s" }}</td>
            <td>{{ environment.update_time | date:"Y-m-d H:i:s" }}</td>

                {% if environment.status == 0 %}
							<td>已停用</td>
							{% endif %}

							{% if environment.status == 1 %}
							<td>已开启</td>
							{% endif %}


            <td>
                <a href="/edit_environment/{{ environment.id }}/">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="/delete_environment/{{ environment.id }}/" style="margin-left: 10px;">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
                <a href="#" onclick="onOffFun('{{environment.id}}')" style="margin-left: 10px;">
                    <i class="glyphicon glyphicon-off"></i>
                </a>

                <!--<button style="margin-left: 10px;" type="button" class="glyphicon glyphicon-off" id="send"-->
                        <!--onclick="onOffFun('{{environment.id}}'))">-->
                <!--</button>-->

            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">

    //保存
    function onOffFun(eid) {

        //接口的基本数据


        $.post("/on_off/", {

            eid:eid

        }, function (data) {
            console.log("返回的结果", data.message);
                if(data.message === "当前已有环境开启,请关闭开启的环境"){
		        window.alert(data.message);
				<!--window.location.reload();  // 刷新页面-->
			}

			if(data.message === "开启成功"){

				window.location.href = '/environment_list/';  // 刷新页面
			}

			if(data.message === "环境已停用"){
				window.location.href = '/environment_list/';
			}



        });
    }
</script>
{% endblock %}
