{% extends "module_base.html" %}
{% block module_base %}
<h3 class="sub-header">模块列表
    <button type="button" class="btn btn-sm btn-primary" style="float: right;"
            onclick="location.href='/add_module/'">创建
    </button>
</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>名称</th>
            <th>描述</th>
            <th>所属项目</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for module in modules %}
        <tr>
            <td>{{ module.id }}</td>
            <!--<td>-->
                <!--<a href="/module_detail/{{ module.id }}/">-->
                    <!--{{ module.name }}-->
                <!--</a>-->
            <!--</td>-->
            <td>{{ module.name }}</td>
            <td>{{ module.describe }}</td>
            <td>{{ module.project }}</td>
            <td>{{ module.create_time | date:"Y-m-d H:i:s" }}</td>
            <td>{{ module.update_time | date:"Y-m-d H:i:s" }}</td>
            <td>
                <a href="/edit_module/{{ module.id }}/">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="/delete_module/{{ module.id }}/" style="margin-left: 10px;">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
