{% extends "project_base.html" %}
{% block project_base %}

<h3 class="sub-header">项目列表
    <button type="button" class="btn btn-sm btn-primary" style="float: right;"
            onclick="location.href='/add_project/'">创建
    </button>
</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>名称</th>
            <th>描述</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td >
                <a style="color:red" href="/project_module_list/{{ project.id }}/">
                    {{ project.name }}
                </a>
                </td>
                <td>{{ project.describe }}</td>
                <td>{{ project.create_time | date:"Y-m-d H:i:s" }}</td>
                <td>{{ project.update_time | date:"Y-m-d H:i:s" }}</td>
                <td>
                    <a href="/edit_project/{{ project.id }}/">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a href="/delete_project/{{ project.id }}/" style="margin-left: 10px;">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    <a href="/run_case/{{ project.id }}/"  style="margin-left: 10px;">
                            <span class="glyphicon glyphicon-play"></span>
                    </a>

                    <a href="result/{{task.id}}/" style="margin-left: 10px;">
                            <span class="glyphicon glyphicon-list-alt"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">

	//发送方法
	function runTask() {
		console.log("运行任务的id", tid);

		$.post("/testtask/run_task/",
		{
			task_id: tid
		},
		function (resp) {
		    if(resp.status == 10200){
		        window.alert(resp.message);
				window.location.reload();  // 刷新页面
			}

		});

	};


</script>
{% endblock %}
